{% extends 'base.html.twig' %}

{% block title %}Toolbox - WA{% endblock %}

{% block titre %}	
<h1 class="text-center">Bienvenue jeune collaborateur, sur la Toolbox - WA !</h1>
{% endblock %}

{% block body %}
<div class="container">
</div>

{% endblock %}
